<div class="rh-container--auto rh-container-px rh-overflow--hidden">
    <div class="row row-eq-height row-gutters">
        {{#each blocks}}
        <div class="col col-12 lg-col-6 col-item-eq-height">
            <div class="rh-event-card-calendar__item">
                <div class="rh-event-card-calendar__date">
                    <p class="rh-event-card-calendar__date-day">{{day}}</p>
                    <p class="rh-event-card-calendar__date-month">{{month}}</p>
                </div>

                <div class="rh-event-card-calendar__description">
                    <p class="rh-event-card-calendar__description-title">
                        <a href="#" class="rh-link--navigation">{{title}}</a>
                    </p>

                    <p><span class="icon-clock rh-event-card-calendar__icon"></span>{{time}}</p>
                    <p><span class="icon-map-pin rh-event-card-calendar__icon"></span> {{place}}</p>

                    {{#each tags}}
                    <span class="rh-labels rh-event-card-calendar__labels">{{name}}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
