<div class="rh-event-calendar-block rh-event-calendar-block__space--extend">
    <div class="rh-event-calendar-block__header">
        <img class="rh-event-calendar-block__header__hero-image" src="{{heroImage.src}}" alt="{{heroImage.alt}}">

        <div class="rh-caption-mini rh-caption-mini--has-triangle">
            <p class="rh-caption-mini-text">{{caption}}</p>
        </div>
    </div>

    <div class="rh-event-calendar-block__body">
        <p class="rh-event-calendar-block__body__title">{{title}}</p>
        <p>{{description}}</p>
    </div>
</div>

<div class="rh-event-calendar-block rh-event-calendar-block__space--extend">
    <div class="rh-event-calendar-block__header">
        <img class="rh-event-calendar-block__header__hero-image" src="{{heroImage.src}}" alt="{{heroImage.alt}}">

        <div class="rh-caption-mini rh-caption-mini--square rh-event-calendar-block__caption--extend--left-bottom">
            <p class="rh-caption-mini-text">{{caption}}</p>
        </div>
    </div>

    <div class="rh-event-calendar-block__body">
        <p class="rh-event-calendar-block__body__title">{{title}}</p>
        <p>{{description}}</p>
    </div>
</div>

<div class="rh-event-calendar-block rh-event-calendar-block__space--extend">
    <div class="rh-event-calendar-block__header">
        <img class="rh-event-calendar-block__header__hero-image" src="{{heroImage.src}}" alt="{{heroImage.alt}}">

        <div class="rh-caption-mini rh-caption-mini--square rh-event-calendar-block__caption--extend--right-bottom">
            <p class="rh-caption-mini-text">{{caption}}</p>
        </div>
    </div>

    <div class="rh-event-calendar-block__body">
        <p class="rh-event-calendar-block__body__title">{{title}}</p>
        <p>{{description}}</p>
    </div>
</div>